<div id="discount">
    <div class="row discount text-center">
        <div class="small-12 columns discount-content">
            <h3 class="discount-title"><b>Скидка</b> <span>15%</span><sup>*</sup></h3>
            <h2 class="discount-name">Акция "Утро в Secret de Beaute`"</h2>
            <div class="discount-time">Запишитесь на приём к любому мастеру с 10-00 до 12-00, и получите скидку 15%!*</div>
            <div class="discount-desc">Скидка предоставляется на все услуги дома-красоты кроме: инъекционных методик и акционных предложений.</div>
            {{> form}}
            <ol class="discount-list text-left hide-for-small-only">
                <li>Предложение действует только для клиентов, оставивших заявку на сайте.</li>
                <li>Вы можете выбрать любую услугу из нашего прайса.</li>
                <li>Скидка на косметологические процедуры 10%, кроме инъекционных методик.</li>
                <li>Оставьте заявку, мы перезвоним в течении 15 минут и запишем Вас на процедуру.</li>
            </ol>
        </div>
    </div>
</div>