<form class="discount-action" action="javascript:void(null);" method="post">
    <div class="row container">
        <div class="small-12 medium-4 columns text-center">
            <input type="text" name="name" placeholder="Как вас зовут">
        </div>
        <div class="small-12 medium-4 columns text-center">
            <input type="tel" data-inputmask="'mask': '99-9999999'" name="phone" placeholder="Ваш номер телефона">
            <input type="hidden" name="page_key">
        </div>
        <div class="small-12 medium-4 columns text-center">
            <input type="submit" value="Отправить">
        </div>
    </div>
</form>